
     {% extends 'base.html' %}
     
     {% block mycontent %}

     <table class="table">
            <tr>
                <td>Name</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>roll number</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Admission number</td>
                <td><input type="text" class="form-control"></td>  
            </tr>
            <tr>
                <td><button class="btn btn-danger">submit</button></td>
            </tr>
        </table>
    

     {% endblock %}

                

    